$grayForInputs: #E9E9E9;
$placeholderGray: #949494;

$mainPurple: #203864;
$darkPurple: #7231B4;
$cardPurple: #721DDD;
$lightRed: #e08835;
$danger: #d66316;
$lightGray: #F3F3F3;
$darkSubtitle: #424242;
$searchButtonGray: #EEEEEE;
